@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins/Poppins-Bold.ttf") format(truetype);
}
@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins/Poppins-Light.ttf") format(truetype);
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-poppins-light: "PoppinsLight", sans-serif;
  --font-poppins-bold: "PoppinsBold", sans-serif;

  --color-fm-red: hsl(0, 78%, 62%);
  --color-fm-cyan: hsl(180, 62%, 55%);
  --color-fm-orange: hsl(34, 97%, 64%);
  --color-fm-blue: hsl(212, 86%, 64%);

  --color-fm-white: hsl(0, 0%, 100%);
  --color-fm-grey-400: hsl(212, 6%, 44%);
  --color-fm-grey-500: hsl(234, 12%, 34%);
}

@layer components {
  .base-layout {
    --max-width: 314px;
    --padding: 16px;
    --padding-full: 32px;

    display: grid;
    grid-template-columns:
      minmax(var(--padding), 1fr)
      min(var(--max-width), 100% - var(--padding) * 2)
      minmax(var(--padding), 1fr);

    & > * {
      grid-column: 2/3;
    }

    @container (width >= 48rem) {
      display: grid;
      justify-content: center;

      grid-template-columns:
        minmax(32px, 1fr)
        minmax(0, 350px)
        32px
        minmax(0, 350px)
        32px
        minmax(0, 350px)
        minmax(32px, 1fr);

      /* grid-template-columns:
        minmax(var(--padding), 1fr)
        repeat(
          3,
          (min(var(--max-width), calc(1 / 3 * 100) - var(--padding) * 2))
        )
        minmax(var(--padding), 1fr); */

      /* min(var(--padding), 1fr)
        repeat(3, minmax(0, 350px))
        min(var(--padding), 1fr); */
      grid-template-rows: repeat(6, minmax(0, 1fr));
    }
  }

  .card {
    @apply mb-8 flex flex-col rounded-sm border-t-4 p-8 shadow-lg;

    & > h2 {
      @apply text-2xl;
    }

    & > p {
      @apply text-sm;
    }

    & > img {
      @apply mt-8 self-end;
    }
  }
}
